@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    margin-top: 30px;
}
.navbar {
    margin: 30px;
    margin-left: 300px;
    display: inline;
    width: 50%;
    text-align: end;
}

.gizem {
    font-family: 'Comfortaa', cursive;
    animation: efekt 2s 1s backwards;
    display: inline;
    margin: 20px;
    margin-left: 100px;
    padding: 20px;
    font-size: 30px;

}

.navbar ul {

    text-align: end;
    display: inline;
    list-style: none;
}

.navbar ul li {
    
   
    transition: 0.5s all;
    padding: 20px;
    display: inline;
    font-size: 20px;
    margin-right: 70px;
    font-family: 'Comfortaa', cursive;



}

ul li:hover {
    color: purple;
    cursor: pointer;

}

.container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 10% 35% 55%;
    grid-template-rows: 600px;
}

.main {

    text-align: end;
}

.baslik {}

.sagtaraf {}

.borderli {
    margin: auto;

    width: 500px;
    height: 500px;
    border: 1px solid purple;
    border-radius: 48% 52% 46% 54% / 21% 38% 62% 79%;
    background-color: purple;

}

.main ul {
    margin-top: 50px;

}

.main ul a li {
    list-style: none;
    cursor: pointer;
    color: purple;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    margin-top: 40px;


}

.baslik h1 {
    
    text-align: end;
    font-weight: bold;
    font-size: 55px;
}

.baslik h4 {
  
    font-size: 30px;
    font-weight: 200;
    margin-left: 160px;
    margin-top: 20px;
}

.baslik p {
    
    margin-left: 160px;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.baslik button {
    padding: 15px 25px 15px 25px;
    color: purple;
    background-color: white;
    border: 1px solid purple;
    font-size: 20px;
    margin-left: 160px;
    margin-top: 50px;
    transition: 0.5s all;
}

.baslik button:hover{
    background-color: purple;
    color: white;
    border-radius: 48% 52% 46% 54% / 21% 38% 62% 79%;
   cursor: pointer;
}

.container2{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 400px;
}
.soltaraf{
    text-align: center;
    margin-top: 30px;
   
}
.sagtaraf2{
    padding-top: 50px;
 
}
.sagtaraf2 p{
    font-family: 'Comfortaa', cursive;

    color: darkgray;
    margin-bottom: 40px;
    width: 50%;
    font-size: 30px;
    letter-spacing: 1px;
}
 .text1{
    font-family: 'Unbounded', cursive;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 140px;
    margin-bottom: 30px;
}
.sagtaraf2 .text{
    color: gray;
    width: 1%;
    font-size: 15px;
    font-weight: 100;
    margin-right: 60px;
    margin-top: 20px;
}
.sagtaraf2 a button{
    transition: 0.5s all;
    font-size: 30px;
    margin: 50px;
    display: block;
    color: purple;
    background-color: white;
    border: 1px solid purple;
    padding: 10px 30px 10px 30px;
    margin-left: 0;

}

.sagtaraf2 a button:hover{
    background-color: purple;
    color: white;
    border-radius: 48% 52% 46% 54% / 21% 38% 62% 79%;
   cursor: pointer;   
}
.gizem{
    transition: 0.5s all;
}
.gizem:hover{
color: purple;
cursor: pointer;
}


@keyframes efekt {
   
        0%   {margin-left: -5000px;}
       33.3%{margin-left: 50px;}
       66.6%{margin-left: 150px;}
       100%{margin-left: 100px;}
        
       
     
}
